# -*-Mode: makefile;-*-
# $Header: /Volumes/cvsrep/developer/OpenADFortTk/test/Makeinclude.config,v 1.2 2004/02/11 14:46:16 eraxxon Exp $

## * BeginCopyright *********************************************************
## *********************************************************** EndCopyright *

#############################################################################
# $Source: /Volumes/cvsrep/developer/OpenADFortTk/test/Makeinclude.config,v $
#############################################################################

SHELL = /bin/sh

#############################################################################
# Site/machine/architecture dependent configuration 
#############################################################################

include $(WHIRL2XAIF)/src/Makeinclude.config

#############################################################################
# Site/machine/architecture independent configuration 
#############################################################################

TEST_UTIL = $(WHIRL2XAIF)/test/util

##################################################
# Boost Library
##################################################

ifndef WHIRL2XAIF_BOOST
  $(error "Need Boost installation path")
endif

BOOST         = $(WHIRL2XAIF_BOOST)
BOOST_IFLAGS  = -I$(BOOST)
BOOST_LDFLAGS = 

