# -*-Mode: makefile;-*-
# $Header: /Volumes/cvsrep/developer/OpenADFortTk/src/Makeinclude.config,v 1.17 2004/12/20 15:19:34 eraxxon Exp $

## * BeginCopyright *********************************************************
## *********************************************************** EndCopyright *

#############################################################################
# $Source: /Volumes/cvsrep/developer/OpenADFortTk/src/Makeinclude.config,v $
#############################################################################

SHELL = /bin/sh

#############################################################################
# Site/machine/architecture dependent configuration 
#############################################################################

PLATFORM = $(OPENADFORTTK_PLATFORM)

include $(OPENADFORTTK)/src/Makeinclude.config.$(PLATFORM)

#############################################################################
# Site/machine/architecture independent configuration 
#############################################################################

##################################################
# OPENADFORTTK Components and Settings
##################################################

EXE_WHIRL2SEXP = whirl2sexp
EXE_SEXP2WHIRL = sexp2whirl

EXE_WHIRL2XAIF = whirl2xaif
EXE_XAIF2WHIRL = xaif2whirl

EXE_WHIRLTESTER = whirltester


LIB_WHIRL2SEXP = libwhirl2sexp-$(PLATFORM).a
LIB_SEXP2WHIRL = libsexp2whirl-$(PLATFORM).a

LIB_WHIRL2XAIF = libwhirl2xaif-$(PLATFORM).a
LIB_XAIF2WHIRL = libxaif2whirl-$(PLATFORM).a

LIB_WHIRLTESTER = libwhirltester-$(PLATFORM).a


LIB_SUPPORT = libsupport-$(PLATFORM).a

#LIB_WHIRLREADER = libwhirlreader-$(PLATFORM).a #FIXME: unused

OPENADFORTTK_SRC_PATH = $(OPENADFORTTK)/src
OPENADFORTTK_INCLUDE_PATH = $(OPENADFORTTK)/src

OPENADFORTTK_OBJ_PATH = $(OPENADFORTTK)/obj/$(PLATFORM)/obj

# Note: only used if SPECIFY_CXX_TREPOSITORY is set (FIXME: unused)
OPENADFORTTK_CXX_TREPOSITORY = $(OPENADFORTTK_OBJ_PATH)/trepository

##################################################
# Open64
##################################################

ifndef OPENADFORTTK_OPEN64BASE
  $(error "Need Open64 base path")
endif
ifndef OPENADFORTTK_OPEN64
  $(error "Need Open64 installation path")
endif

OPEN64 = $(OPENADFORTTK_OPEN64BASE)
OPEN64TARG = $(OPENADFORTTK_OPEN64)

OPEN64_IDEFS = -DIs_True_On \
	-D_LEGO_CLONER -DBACK_END -DMONGOOSE_BE \
	-Dlonglong -D_NEW_SYMTAB \
	-DBUILD_WHIRL2F

OPEN64_IFLAGS = $(OPEN64_IDEFS) -I$(OPEN64)/include \
	-I$(OPEN64)/common/com -I$(OPEN64)/common/com/ia64 \
	  -I$(OPEN64)/common/util \
	-I$(OPEN64)/be/com -I$(OPEN64)/be/be \
	-I$(OPEN64TARG)/include

# For REGION stuff: -I$(OPEN64)/be/region -I$(OPEN64TARG)/be

##################################################
# OpenAnalysis (CFG builder, etc.)
##################################################

ifndef OPENADFORTTK_OA
  $(error "Need OpenAnalysis installation path")
endif

OA         = $(OPENADFORTTK_OA)
OA_IFLAGS  = -DOA_IRHANDLETYPE_UL -I$(OA)/include
OA_LDFLAGS = $(OA)/lib/libOAul.a

##################################################
# Xerces-C (XML parser)
##################################################

ifndef OPENADFORTTK_XERCESC
  $(error "Need XercesC installation path")
endif

XERCES         = $(OPENADFORTTK_XERCESC)
XERCES_IFLAGS  = -I$(XERCES)/include
XERCES_LDFLAGS = -L$(XERCES)/lib -lxerces-c

##################################################
# Sexp (S-expression parser)
##################################################

#OPENADFORTTK_SEXP = /home/eraxxon/Develop/sexpr_1.0.0/src

#ifndef OPENADFORTTK_SEXP
#  $(error "Need XercesC installation path")
#endif

SEXP         = $(OPENADFORTTK_SEXP)
SEXP_IFLAGS  = -I$(SEXP)
SEXP_LDFLAGS = -L$(SEXP) -lsexp

##################################################
# Misc
##################################################

#Disable automatic RCS checkout
CO =
COFLAGS =
% :: RCS/%,v

#disable: $(CO) $(COFLAGS) $<

