# -*-Mode: makefile;-*-
# $Header: /Volumes/cvsrep/developer/OpenADFortTk/src/Makeinclude.config,v 1.11 2004/02/23 18:17:30 eraxxon Exp $

## * BeginCopyright *********************************************************
## *********************************************************** EndCopyright *

#############################################################################
# $Source: /Volumes/cvsrep/developer/OpenADFortTk/src/Makeinclude.config,v $
#############################################################################

SHELL = /bin/sh

#############################################################################
# Site/machine/architecture dependent configuration 
#############################################################################

PLATFORM = $(WHIRL2XAIF_PLATFORM)

include $(WHIRL2XAIF)/src/Makeinclude.config.$(PLATFORM)

#############################################################################
# Site/machine/architecture independent configuration 
#############################################################################

##################################################
# WHIRL2XAIF Components and Settings
##################################################

EXE_WHIRL2XAIF = whirl2xaif
EXE_XAIF2WHIRL = xaif2whirl
EXE_WHIRLTESTER = whirltester

LIB_WHIRL2XAIF = libwhirl2xaif-$(PLATFORM).a
LIB_XAIF2WHIRL = libxaif2whirl-$(PLATFORM).a
LIB_WHIRLTESTER = libwhirltester-$(PLATFORM).a

LIB_SUPPORT = libsupport-$(PLATFORM).a

#LIB_WHIRLREADER = libwhirlreader-$(PLATFORM).a #FIXME: unused

WHIRL2XAIF_SRC_PATH = $(WHIRL2XAIF)/src
WHIRL2XAIF_INCLUDE_PATH = $(WHIRL2XAIF)/src

WHIRL2XAIF_OBJ_PATH = $(WHIRL2XAIF)/obj/$(PLATFORM)/obj

# Note: only used if SPECIFY_CXX_TREPOSITORY is set (FIXME: unused)
WHIRL2XAIF_CXX_TREPOSITORY = $(WHIRL2XAIF_OBJ_PATH)/trepository

##################################################
# Open64
##################################################

ifndef WHIRL2XAIF_OPEN64BASE
  $(error "Need Open64 base path")
endif
ifndef WHIRL2XAIF_OPEN64
  $(error "Need Open64 installation path")
endif

OPEN64 = $(WHIRL2XAIF_OPEN64BASE)
OPEN64TARG = $(WHIRL2XAIF_OPEN64)

OPEN64_IDEFS = -DIs_True_On -DMONGOOSE_BE -DBACK_END -DBUILD_WHIRL2F

OPEN64_IFLAGS = $(OPEN64_IDEFS) -I$(OPEN64)/include \
	-I$(OPEN64)/common/com -I$(OPEN64)/common/com/ia64 \
	  -I$(OPEN64)/common/util \
	-I$(OPEN64)/be/com -I$(OPEN64)/be/be \
	-I$(OPEN64TARG)/include

# For REGION stuff: -I$(OPEN64)/be/region -I$(OPEN64TARG)/be

##################################################
# OpenAnalysis (CFG builder, etc.)
##################################################

ifndef WHIRL2XAIF_OA
  $(error "Need OpenAnalysis installation path")
endif

OA         = $(WHIRL2XAIF_OA)
OA_IFLAGS  = -DOA_IRHANDLETYPE_UL -I$(OA)/include
OA_LDFLAGS = $(OA)/lib/libOAul.a

##################################################
# Xerces-C (XML parser)
##################################################

ifndef WHIRL2XAIF_XERCESC
  $(error "Need XercesC installation path")
endif

XERCES         = $(WHIRL2XAIF_XERCESC)
XERCES_IFLAGS  = -I$(XERCES)/include
XERCES_LDFLAGS = -L$(XERCES)/lib -lxerces-c

##################################################
# Misc
##################################################

#Disable automatic RCS checkout
CO =
COFLAGS =
% :: RCS/%,v

#disable: $(CO) $(COFLAGS) $<

