# -*-Mode: makefile;-*-
# $Header: /Volumes/cvsrep/developer/OpenADFortTk/src/Makeinclude.config,v 1.3 2003/07/24 20:31:05 eraxxon Exp $

## * BeginCopyright *********************************************************
## *********************************************************** EndCopyright *

#############################################################################
# $Source: /Volumes/cvsrep/developer/OpenADFortTk/src/Makeinclude.config,v $
#############################################################################

SHELL = /bin/sh

#############################################################################
# Site/machine/architecture dependent configuration 
#############################################################################

PLATFORM = $(WHIRL2XAIF_PLATFORM)

include $(WHIRL2XAIF)/src/Makeinclude.config.$(PLATFORM)

#############################################################################
# Site/machine/architecture independent configuration 
#############################################################################

##################################################
# WHIRL2XAIF Components and Settings
##################################################

EXE_WHIRL2XAIF = whirl2xaif

LIB_WHIRL2XAIF = libwhirl2xaif-$(PLATFORM).a
LIB_SUPPORT = libsupport-$(PLATFORM).a

#LIB_WHIRLREADER = libwhirlreader-$(PLATFORM).a #FIXME: unused

WHIRL2XAIF_SRC_PATH = $(WHIRL2XAIF)/src
WHIRL2XAIF_INCLUDE_PATH = $(WHIRL2XAIF)/src

WHIRL2XAIF_OBJ_PATH = $(WHIRL2XAIF)/obj/$(PLATFORM)/obj

# Note: only used if SPECIFY_CXX_TREPOSITORY is set (FIXME: unused)
WHIRL2XAIF_CXX_TREPOSITORY = $(WHIRL2XAIF_OBJ_PATH)/trepository

##################################################
# Open64
##################################################

ifeq ($(PLATFORM),i686-Linux)
  O64TARG = targ_ia32_ia64_linux
endif
ifeq ($(PLATFORM),sparc-SunOS)
  O64TARG = targ_sparc_solaris
endif
ifndef O64TARG
  $(error "Need Open64 target name")
endif

ifdef WHIRL2XAIF_OPEN64
  OPEN64 = $(WHIRL2XAIF_OPEN64)
else
  #OPEN64 = /scratch/eraxxon/Open64/osprey1.0
  OPEN64 = /net/basuri4/eraxxon/Open64/osprey1.0
endif

OPEN64_IDEFS = -DIs_True_On -DMONGOOSE_BE -DBACK_END -DBUILD_WHIRL2F

OPEN64_IFLAGS = $(OPEN64_IDEFS) \
	-I$(OPEN64)/include -I$(OPEN64)/common/util \
	-I$(OPEN64)/common/com -I$(OPEN64)/common/com/ia64 \
	-I$(OPEN64)/be/com -I$(OPEN64)/be/be -I$(OPEN64)/be/region

OPEN64_IFLAGS += -I$(OPEN64)/$(O64TARG)/include \
	-I$(OPEN64)/$(O64TARG)/include/libelf \
	-I$(OPEN64)/$(O64TARG)/include/sys \
	-I$(OPEN64)/$(O64TARG)/be \
	-I$(OPEN64)/$(O64TARG)/targ_info

# FIXME: Try to remove as much be/ and oa64targ/ stuff as possible

##################################################
# OpenAnalysis (CFG builder, etc.)
##################################################

#ifdef WHIRL2XAIF_OA
#  OA = $(WHIRL2XAIF_OA)

OA = $(WHIRL2XAIF)/../OpenAnalysis

OA_IFLAGS  = -DOA_IRHANDLETYPE_UL -I$(OA)/$(PLATFORM)/include
OA_LDFLAGS = $(OA)/$(PLATFORM)/lib/libOAul.a

##################################################
# Xerces-C (XML parser)
##################################################

XERCES         =
XERCES_IFLAGS  =
XERCES_LDFLAGS =

##################################################
# Misc
##################################################

#Disable automatic RCS checkout
CO =
COFLAGS =
% :: RCS/%,v

#disable: $(CO) $(COFLAGS) $<

